@import 'tailwindcss';

:root {
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

body {
  background: #F4F4F4;
  color: var(--foreground);
  font-family: var(--font-roboto), system-ui, sans-serif;
}
