@import 'tailwindcss';

:root {
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

body {
  background: #F4F4F4;
  font-family: var(--font-roboto), system-ui, sans-serif;
}

.input-radio-checkbox-label {
  font-size: 16px;
  color: #404040;
}

.icon-btn--transparent {
  color: #F4F4F4 !important; 
}



.dropdown-default-trigger {
  min-width: 250px !important;
}