@import 'tailwindcss';

:root {
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

body {
  background: #F4F4F4;
  font-family: var(--font-roboto), system-ui, sans-serif;
}

.input-radio-checkbox-label {
  font-size: 16px;
  color: #404040;
}
